<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Mun ASP.NET Appi</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    @{
        if (Session["UserName"] != null)
        {
            Html.RenderPartial("_NavLoggedIn");
        }
        else
        {
            Html.RenderPartial("_NavLoggedOut");
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="page-footer">
            <p>&copy; @DateTime.Now.Year - Mun ASP.NET Appi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
