@model PagedList.IPagedList<TilausASPNET.Models.Henkilot>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";

}
@section scripts {
    <script type="text/javascript">
        $("#HaettavaNumero").on("change", function () {
            let selValue = $("#HaettavaNumero").val();
            document.getElementById("PostinumeroHaku").value = selValue;
        });
    </script>
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm("Index", "Henkilot", FormMethod.Get))
    {
        <div class="input-group">
            <p class="p-1 mr-2 mt-1 ml-3">@Html.Label("Etsi sukunimellä:")</p>
            <p class="p-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
            <div style="white-space:nowrap" class="row ml-2">
                <p class="p-1 ml-2 mt-1 mr-2">@Html.Label("Hae postitoimipaikalla:")</p>
                <p>@Html.Hidden("PostinumeroHaku", ViewBag.currentFilter1 as string, new { @id = "PostinumeroHaku", @class = "form-control" })</p>
                <p class="p-1">@Html.DropDownList("Postinumero", null, htmlAttributes: new { @id = "HaettavaNumero", @class = "form-control" })</p>
                <p class="p-1 ml-2"><input type="submit" value="Search" class="form-control btn btn-outline-primary" /></p>
            </div>
        </div>
    }
    <table class="table mt-4">
        <tr>
            <th> @Html.ActionLink("Etunimi", "Index", new { sortOrder = ViewBag.EtunimiSortParam, currentFilter1 = ViewBag.currentFilter1, currentPostinumero = ViewBag.CurrentPostinumero }) </th>
            <th>@Html.ActionLink("Sukunimi", "Index", new { sortOrder = ViewBag.SukunimiSortParam, currentFilter1 = ViewBag.currentFilter1, currentPostinumero = ViewBag.CurrentPostinumero }) </th>
            <th>Osoite </th>
            <th>Postinumero</th>
            <th>Sähkoposti</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Etunimi) </td>
                <td> @Html.DisplayFor(modelItem => item.Sukunimi)</td>
                <td> @Html.DisplayFor(modelItem => item.Osoite)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postinumero)&nbsp;
                    @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)

                </td>
                <td> @Html.DisplayFor(modelItem => item.Sahkoposti) </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Henkilo_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Henkilo_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Henkilo_id })
                </td>
            </tr>
        }

    </table>
    <div class="ml-2 text-center">
        @*currentFilter = currentSukuni*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1 = ViewBag.currentFilter1, currentPostinumero = ViewBag.CurrentPostinumero }))
        Sivu @( Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>