@model IEnumerable<TilausASPNET.Models.Henkilot>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm("Index", "Henkilot", FormMethod.Get))
    {
        <div class="input-group">
            <p class="p-1 mr-2 mt-1">@Html.Label("Etsi sukunimellä")</p>
            <p class="p-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
            <p class="p-1"><input type="submit" value="Search" class="form-control btn btn-outline-primary" /></p>
        </div>
    }
    <table class="table mt-4">
        <tr>
            <th> @Html.ActionLink("Etunimi", "Index", new { sortOrder = ViewBag.EtunimiSortParam }) </th>
            <th>@Html.ActionLink("Sukunimi", "Index", new { sortOrder = ViewBag.SukunimiSortParam }) </th>
            <th> @Html.DisplayNameFor(model => model.Osoite) </th>
            <th> @Html.DisplayNameFor(model => model.Postinumero)</th>
            <th> @Html.DisplayNameFor(model => model.Sahkoposti) </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Etunimi) </td>
                <td> @Html.DisplayFor(modelItem => item.Sukunimi)</td>
                <td> @Html.DisplayFor(modelItem => item.Osoite)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postinumero)&nbsp;
                    @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)

                </td>
                <td> @Html.DisplayFor(modelItem => item.Sahkoposti) </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Henkilo_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Henkilo_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Henkilo_id })
                </td>
            </tr>
        }

    </table>
</div>
