@model TilausASPNET.Models.Tilausrivit

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Haluatko poistaa tilausrivin?</h3>
<div>
    <div class="container">
        <hr />
        <dl class="dl-horizontal">
            <dt>Tuoterivin ID</dt>
            <dt>@Html.DisplayFor(model => model.TilausriviID)</dt>
            <br />
            <dt>Asiakasyritys</dt>
            <dd>@Html.DisplayFor(model => model.Tilaukset.Asiakkaat.Nimi)</dd>
            <dt>
                Tuote
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tuotteet.Nimi)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Maara)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Maara)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ahinta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ahinta)
            </dd>



        </dl>
        <hr/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a class="btn btn-outline-secondary" href="~/Tilausrivit" style="color:black"><img src="~/Icons/arrow-bar-left.svg" height="15" width="15" />&nbsp;Palaa takaisin</a>
                <button type="submit" class="btn btn-outline-secondary" style="color:black"><img src="~/Icons/x-square.svg" height="15" width="15" />&nbsp;&nbsp;Poista</button>
            </div>
        }
    </div>
</div>
