@model TilausASPNET.Models.Tilausrivit

@{
    ViewBag.Title = "Details";
    var id = Model.TilausriviID;
}

<h2>Details</h2>

<div>
    <h4>Tilausrivit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Tilausrivi ID</dt>
        <dd>@Html.DisplayFor(model=> model.TilausriviID)</dd>

        <dt>Tilaus ID</dt>
        <dd>@Html.DisplayFor(model => model.TilausID)</dd>

       <dt>Tuote ID</dt>
        <dd>@Html.DisplayFor(model => model.TuoteID) </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>


    </dl>
</div>
<p>
    <a class="btn btn-outline-secondary" href="~/Tilausrivit" style="color:black"><img src="~/Icons/arrow-bar-left.svg" height="20" />&nbsp;&nbsp;Palaa takaisin</a>
    <a class="btn btn-outline-secondary m-md-1 omaLink" title="Edit" href="~/Tilausrivit/Edit/@id"><img src="~/Icons/pencil-square.svg" height="20" />&nbsp;&nbsp;Muokkaa</a>

</p>
