@model TilausASPNET.Models.Tilausrivit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tilausrivit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Tilausrivi ID</dt>
        <dd>@Html.DisplayFor(model=> model.TilausriviID)</dd>

        <dt>Tilaus ID</dt>
        <dd>@Html.DisplayFor(model => model.TilausID)</dd>

       <dt>Tuote ID</dt>
        <dd>@Html.DisplayFor(model => model.TuoteID) </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TilausriviID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
