@model IEnumerable<TilausASPNET.Models.Tilausrivit>

@{
    ViewBag.Title = "Index";
}

    <h2 class="mb-4 ml-3">Tilausrivit</h2>


<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="bg-dark">
                <th>Tilauksen tunnus</th>
                <th>
                    Asiakas
                </th>
                <th>Tuote</th>
                <th>
                    @Html.DisplayNameFor(model => model.Maara)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ahinta)
                </th>
                <th>Summa</th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                decimal? summa = item.Maara * item.Ahinta;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TilausID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tilaukset.Asiakkaat.Nimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tuotteet.Nimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maara)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ahinta)
                    </td>
                    <td>@summa</td>

                    <td>
                        <a class="btn btn-outline-secondary m-md-1" title="Details" href="~/Tilausrivit/Details//@item.TilausriviID"><img src="~/Icons/info-square.svg" height="22" /></a>
                        <a class="btn btn-outline-secondary m-md-1" title="Edit" href="~/Tilausrivit/Edit/@item.TilausriviID"><img src="~/Icons/pencil-square.svg" height="20" /></a>
                        <a class="btn btn-outline-secondary m-md-1" title="Delete" href="~/Tilausrivit/Delete/@item.TilausriviID"><img src="~/Icons/x-square.svg" height="20" /></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <p>
        <a class="btn btn-outline-secondary" href="~/Tilausrivit/Create" style="color:black"><img src="~/Icons/plus-square.svg" height="20" width="20" />&nbsp;&nbsp;Lisää tilausrivi</a>
    </p>
    <p>Tietokannssa @Model.Count() tilausriviä</p>
</div>
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>
