@model TilausASPNET.Models.Tuotteet

@{
    ViewBag.Title = "Edit";
}

<h2 class="mb-4 ml-3">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h4>Tuotteet</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TuoteID)

            <div class="form-group">
                @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ahinta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ahinta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ahinta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="mb-1 ml-3"> Kuvalinkki</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-outline-secondary" href="~/Tuotteet" style="color:black"><img src="~/Icons/arrow-bar-left.svg" height="15" width="15" />&nbsp;&nbsp;Palaa tallentamatta</a>
                    <button type="submit" value="Tallenna" class="btn btn-outline-secondary" style="color:black"><img src="~/Icons/check.svg" height="15" width="15" />&nbsp;&nbsp;Tallenna</button>
                </div>
            </div>
        </div>
    </div>
    <br />
}
