@model IEnumerable<TilausASPNET.Models.Tuotteet>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2>Tuotteet</h2>

    <p>
        <button type="button" class="btn btn-outline-secondary"> @Html.ActionLink("Luo uusi tuotetieto", "Create")</button>
    </p>

    <div class="row">
        @foreach (var item in Model) {
            <div class="col-lg-3">
                <div class="card mb-3">
                    <h3 class="card-header">@Html.DisplayFor(modelItem => item.Nimi)</h3>
                    <div class="card-body">
                    </div>
                    <img style="height: 80%; width: 80%; display: block; margin-left:10%; margin-bottom: 10%;" src=@Html.DisplayFor(modelItem => item.ImageLink) alt="Card image">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Kappale hinta: @Html.DisplayFor(modelItem => item.Ahinta)</li>
                        <li class="list-group-item">Tuote ID: @Html.DisplayFor(modelItems => item.TuoteID)</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-secondary"> @Html.ActionLink("Edit", "Edit", new { id = item.TuoteID })</button>
                        <button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Delete", "Delete", new { id = item.TuoteID })</button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>