@model TilausASPNET.Models.Tilaukset

@{
    ViewBag.Title = "Delete";
    var tilausPvm = Model.Tilauspvm.ToString().TrimEnd('.', ':', '0');
    var toimPvm = Model.Toimituspvm.ToString().TrimEnd('.', ':', '0');
}

<h2></h2>

<h3>Haluatko poistaa tilauksen?</h3>
<div>
    <div class="container">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Toimitusosoite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Toimitusosoite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tilauspvm)
            </dt>

            <dd>
                @tilausPvm
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Toimituspvm)
            </dt>

            <dd>
                @toimPvm
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asiakkaat.Nimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asiakkaat.Nimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
            </dd>

        </dl>
        <hr/>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <a class="btn btn-outline-secondary" href="~/Tilaukset" style="color:black"><img src="~/Icons/arrow-bar-left.svg" height="15" width="15" />&nbsp;Palaa takaisin</a>
                <button type="submit" class="btn btn-outline-secondary" style="color:black"><img src="~/Icons/x-square.svg" height="15" width="15" />&nbsp;&nbsp;Poista</button>
            </div>
        }
    </div>
</div>
