@model TilausASPNET.Models.Tilaukset

@{
    ViewBag.Title = "Details";
    var id = Model.TilausID;
    var tilausPvm = Model.Tilauspvm.ToString().TrimEnd('.', ':', '0');
    var toimPvm = Model.Toimituspvm.ToString().TrimEnd('.', ':', '0');
}
<h2 class="mb-4 ml-3">Details</h2>

<div class="container">
    <h4>Tilaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tilauksen tunnus</dt>
        <dd>
            @Html.DisplayFor(model => model.TilausID)
        </dd>
        <dt>Asiakastunnus</dt>
        <dd>@Html.DisplayFor(model => model.AsiakasID)</dd>
        <dt>
            Asiakasyritys
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Nimi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toimitusosoite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toimitusosoite)
            <br />
            @Html.DisplayFor(model => model.Postinumero)
            @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tilauspvm)
        </dt>
        <dd>
            @tilausPvm
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toimituspvm)
        </dt>
        <dd>
            @toimPvm
        </dd>
    </dl>
    <p>
        <a class="btn btn-outline-secondary" href="~/Tilaukset" style="color:black"><img src="~/Icons/arrow-bar-left.svg" height="20" />&nbsp;&nbsp;Palaa takaisin</a>
        <a class="btn btn-outline-secondary m-md-1 omaLink" title="Edit" href="~/Tilaukset/Edit/@id"><img src="~/Icons/pencil-square.svg" height="20" />&nbsp;&nbsp;Muokkaa</a>

    </p>
</div>
